@model IEnumerable<nmct.ba.cashlessproject.api.Models.Organisation>

@{
    ViewBag.Title = "All organisations";
}

<h2>Organisaties</h2>

<p>
    @Html.ActionLink("Nieuwe organisatie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbName)
        </th>
        <th>
            Toegewezen kassa's
        </th>
        <th></th>
    </tr>

@foreach (nmct.ba.cashlessproject.api.Models.Organisation item in ViewBag.Orgs)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td class="spoiler">
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbName)
        </td>
        <th>
            @Html.ActionLink("Toegewezen kassa's", "AssignedToOrganisation", "RegisterManager", new { id = item.ID }, new { })
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        </td>
    </tr>
}

</table>
