@model IEnumerable<nmct.ba.cashlessproject.model.Organisation>

@{
    ViewBag.Title = "All organisations";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (Organisation item in ViewBag.Orgs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DbPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganisationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) (DEBUG ONLY)
        </td>
    </tr>
}

</table>
